{% extends 'base.html' %}
{% load static %}

{% block title %} My Store {% endblock title %}

{% block content %}
<br/>
    
<div class="container">
    {% if request.GET.msg == "sent" %}
    <h3> Password resent link was sent to your email address. Please check your email immediately.</h3>
    {% else %}
    {% if request.GET.msg == "error" %}
    <h4 class="text-danger">Something went wrong, please enter your email again.</h4>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Send Mail</button>
    </form>
    {% endif %}
</div>

{% endblock content %}