{% extends 'base.html' %}
{% load static %}

{% block title %} My Store {% endblock title %}

{% block content %}
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{% static 'img/carousel-1.jpg' %}" style="height: 350px; object-fit: cover;" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/carousel-2.jpg' %}" style="height: 350px; object-fit: cover;" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="{% static 'img/carousel-3.jpg' %}" style="height: 350px; object-fit: cover;" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    <br/>
<div class="container">
  <div class="row">
    {% for product in products %}
    <div class="col-md-4 py-2">
      <div class="card" style="width: 25rem;">
        {% if product.image %}
        <img src="{{product.image.url}}" style="height: 350px; object-fit: cover;" alt="...">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p class="card-text">{{product.selling_price}}</p>
          <a href="{% url 'productdetail' product.id %}" class="btn btn-primary">Product Details</a>
          <a href="{% url 'addtocart' product.id %}" class="btn btn-primary">Add to Cart</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div>
    <nav aria-label="...">
      <ul class="pagination">
        {% if products.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.previous_page_number }}">Previous</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link">Previous</a>
        </li>
        {% endif %}
        
        {% for i in products.paginator.page_range %}
        {% if i == products.number %}
        <li class="page-item active"><a class="page-link">{{i}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
        {% endif %} 
        {% endfor %}
        
        {% if products.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ products.next_page_number }}">Next</a>
        </li>
        {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>

{% endblock content %}